node_modules
frontend/node_modules

frontend/app/build

logs
*.log
npm-debug.log*

.DS_Store
deploy
deploy/

.idea/misc.xml
.idea/modules.xml
.idea/tbwx_admin.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/.name
.idea/encodings.xml
.idea/*.xml
.idea/*.iml
.idea/*.name
.idea
.DS_Store
.DS_Store?

pids
*.pid
*.seed

lib-cov
coverage
build/Release

.npm
.node_repl_history

backend/flask
backend/env
backend/obj
backend/*.pyproj
