env
node_modules

logs
*.log

.DS_Store
deploy
deploy/

.idea/misc.xml
.idea/modules.xml
.idea/tbwx_admin.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/.name
.idea/encodings.xml
.idea/*.xml
.idea/*.iml
.idea/*.name
.idea
.DS_Store
.DS_Store?

*.pid
*.seed

coverage
build/Release
